<h1>Longest Word Game</h1>
<form action="/game" method="GET">
  <label for="size">Specify length of board</label>
  <input type="text" id="size" name="size" placeholder="6">
  <input type="submit" value="Start!">
</form>